<html>
  <head></head>
  <body>
    <p>
      <%= output %>
    </p>
    <p>
      <%= number %>
    </p>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
  </body>
</html>